nimcache
buildModules
installer
installModules.nim
importModules.nim

*.html
libraries/*.html
libraries/*/*.html

modules/*
!modules/*.nim
!modules/*.nim.template
!modules/*.nim.cfg
!modules/*.nim.disabled
