nimcache
src/buildModules
src/installer
src/installModules.nim
src/uninstallModules.nim
src/importModules.nim

*.html
libraries

modules/*
modules/*.nim.cfg
modules/nimcache
!modules/*.nim
!modules/*.nim.template
!modules/*.nim.disabled
